@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Ödev Dağıtım Portalı</h1>
    <hr />
    <h3>Burak Karayanık <br />20221129011</h3>
    <img src="~/photos/img_4681.png" height="450px"/>
</div>